.loader {
  color: #048664;
  width: 3px; /* Slightly increased width */
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 14.25px 0 0 5.25px, 28.5px 0 0 2.25px, 42.75px 0 0 0; /* Slightly increased box-shadow values */
  transform: translateX(-28.5px); /* Adjusted transform */
  animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 14.25px 0 0 2.25px, 28.5px 0 0 5.25px, 42.75px 0 0 2.25px; /* Slightly increased box-shadow values */
  }
  100% {
    box-shadow: 14.25px 0 0 0, 28.5px 0 0 2.25px, 42.75px 0 0 5.25px; /* Slightly increased box-shadow values */
  }
}
