.dropdown__control {
  padding: 2px;
}

.dropdown__value-container.dropdown__value-container--is-multi.dropdown__value-container--has-value {
  overflow-y: scroll;
  height: 100%;
  max-height: 90px;
  padding: 5px;
}

.dropdown__value-container .dropdown__multi-value {
  background: #ececec;
  font-size: 14px;
  font-weight: 600;
}

.dropdown__multi-value__remove:hover {
  background: #1769ff;
  color: #fff;
}
